# Copyright (c) 2017 - 2018 Big Ladder Software LLC. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#
# This file uses javascript regex (regular expressions)
# for 'match', 'begin', and 'end' statements within patterns
#
# To test regex logic, visit https://regex101.com/

'name': 'Modelkit Config'
'scopeName': 'source.modelkitconfig'
'fileTypes': [
  'modelkit-config'
]
'patterns': [
  {
    'include': 'source.toml'
  }
]
